</html>  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página</title>
   
</head>
<body>
    <h2> Página do Usuario</h2>
    <p>Seja Bem-vindo <%= usuario %>! <br></p>
    <button><a href="/logout">Logout</a></button>
</body>
</html>